body {margin: 0;}
  /*  div{background: white;
width: 1200px;
height:2080px;} */
ul {font-size: 0px;
    padding-left: 0;}
    .page-header-container {
        padding-top: 75px;
        margin-bottom: 90px;
    }
    .container {
    background: #fff;
    width: 900px;
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 0px;
    }

    .img{width: 100%;
    height: auto;}
.gallery{
    display: block;
    object-fit: cover;
    margin-bottom: 25px;
}
.menu {text-align: center;}
.menu-item {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    color:gray;
    text-transform: uppercase;
    box-sizing: border-box;
    border: 5px transparent;
    display: inline-block;
    text-align: center;
    margin-right: 60px;
}
.menu-item:last-child {margin-right: 0;}
.menu-link{
    color: black;
    display: block;
    text-decoration: none;
}
.menu-link:hover {color: skyblue;}
.visually-hidden:not(:focus):not(:active), input[type="checkbox"]
.visually-hidden, input[type="radio"]
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
 }
.box {
width: 420px;
display: inline-block;
margin-right: 60px;
margin-bottom: 135px;
}
.box:nth-child(even){margin-right: 0px;}
.box:nth-last-child(-n+2){margin-bottom: 0px;}
.box-subtitle{
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
}
.box-title{
    font-family: 'Playfair Display', serif;
    font-size: 29px;
    color: gray;
    text-transform: capitalize;
    text-align: left;
    margin: 0;
    margin-bottom: 30px;
}
.box-content{
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    color: gray;
    margin: 0;
}
.btn-footer{
    display: block;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    background-color:white;
    color: gray;
    border-color: gray;
    box-sizing: border-box;
    text-align: center;
    text-shadow: none;
    padding: 1rem 1rem;
    margin: 0 auto;
    }
.list {padding-bottom: 55px;}
.btn-footer:hover {background-color: black;
color: white;
}