<<<<<<< HEAD
body {margin: 0;}
  /*  div{background: white;
width: 1200px;
height:2080px;} */
ul {font-size: 0px;
    padding-left: 0;}
    .page-header-container {
        background: #fff;
        width: 900px;
        margin: 0 auto;
        padding-top: 75px;
        padding-bottom: 90px;
        font-size: 0px;
    }
    .container {
    background: #fff;
    width: 900px;
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 0px;
}

.img{
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.menu {vertical-align: middle;}
.menu-item {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    color:gray;
    text-transform: uppercase;
    box-sizing: border-box;
    width: 100px;
    height: 50px;
    padding: 14px;
    border: 5px transparent;
    display: inline-block;
    text-align: center;
    margin-right: 60px;
}
.menu-item-last{
    margin-right: 160px;
}
.menu-item-first{
    margin-left: 160px;
}
.menu-link{
    color: skyblue;
    display: block;
    text-decoration: none;
}
.box{width: 420px;
display: inline-block;
margin-right: 60px;
/* padding-bottom: 135px; */
}
.box-5{padding-bottom: 60px;}
.box-6{padding-bottom: 60px;}
.box:nth-child(2n) {margin-right: 0px;}
.box-subtitle{
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 14px;
    opacity: 0.3;
    text-transform: uppercase;
    padding-top: 20px;
    margin: 0px;
}
.box-title{
    width: 420px;
    font-family: 'Playfair Display', serif;
    font-size: 29px;
    color: gray;
    text-transform: capitalize;
    text-align: left;
    padding-top: 20px;
    margin: 0px;
}
.box-content{
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    color: gray;
    margin: 0px;
    padding-top: 20px;
}
button{
    display: block;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    background-color:white;
    color: gray;
    border-color: gray;
    box-sizing: border-box;
    width: 165px;
    height: 60px;
    text-align: center;
    margin: 0 auto 75px auto;
    text-shadow: none;
=======
body {margin: 0;}
  /*  div{background: white;
width: 1200px;
height:2080px;} */
ul {font-size: 0px;
    padding-left: 0;}
    .page-header-container {
        background: #fff;
        width: 900px;
        margin: 0 auto;
        padding-top: 75px;
        padding-bottom: 90px;
        font-size: 0px;
    }
    .container {
    background: #fff;
    width: 900px;
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 0px;
}

.img{
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.menu {vertical-align: middle;}
.menu-item {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    color:gray;
    text-transform: uppercase;
    box-sizing: border-box;
    width: 100px;
    height: 50px;
    padding: 14px;
    border: 5px transparent;
    display: inline-block;
    text-align: center;
    margin-right: 60px;
}
.menu-item-last{
    margin-right: 160px;
}
.menu-item-first{
    margin-left: 160px;
}
.menu-link{
    color: skyblue;
    display: block;
    text-decoration: none;
}
.box{width: 420px;
display: inline-block;
margin-right: 60px;
/* padding-bottom: 135px; */
}
.box-5{padding-bottom: 60px;}
.box-6{padding-bottom: 60px;}
.box:nth-child(2n) {margin-right: 0px;}
.box-subtitle{
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 14px;
    opacity: 0.3;
    text-transform: uppercase;
    padding-top: 20px;
    margin: 0px;
}
.box-title{
    width: 420px;
    font-family: 'Playfair Display', serif;
    font-size: 29px;
    color: gray;
    text-transform: capitalize;
    text-align: left;
    padding-top: 20px;
    margin: 0px;
}
.box-content{
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    color: gray;
    margin: 0px;
    padding-top: 20px;
}
button{
    display: block;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    background-color:white;
    color: gray;
    border-color: gray;
    box-sizing: border-box;
    width: 165px;
    height: 60px;
    text-align: center;
    margin: 0 auto;
    text-shadow: none;
>>>>>>> 0c713dd02dd42b2a5b4a894691fc2c2f06048ec9
}